.path-local-learningtools #region-main {
    overflow: initial;
}
#page-local-learningtools-ltool-email-list .generaltable  tbody tr td ul li {
    list-style: none;
    margin-bottom: 20px;
}
#page-local-learningtools-ltool-email-list .generaltable  tbody tr td ul li a {
    padding-left: 35px;
    margin-left: -44px;
}